@font-face {
  font-family: 'vazir';
  src: url('/static/fonts/vazir.ttf') format('woff2')
}
.center{
    text-align: center;
    align-items: center;
    display: flex;
    justify-content: center;
    margin-top: 30px;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'vazir', sans-serif;
}

.box{
    text-align: center !important;
    position: relative;
    width: 380px;
    height: 320px !important;
    background: #1c1c1c;
    border-radius: 8px;
}
.box form{
    position: absolute;
    inset: 4px;
    background: #222;
    padding: 50px 40px;
    border-radius: 8px;
    z-index: 2;
    display: flex;
    flex-direction: column;
}
.box form h2{
    color: #ffc451;
    font-weight: 500;
    text-align: center;
    letter-spacing: 0.1em;
}
.box form .inputBox{
    position: relative;
    width: 100%;
    /*height: 300px;*/
    margin-top: 35px;
}
.box form .inputBox input{
    position: relative;
    width: 100%;
    padding: 20px 10px 7px 10px;
    background: transparent;
    outline: none;
    border: none;
    box-shadow: none;
    color: #23242a;
    font-size: 1.25em;
    letter-spacing: 0.05em;
    transition: 0.5s;
    z-index: 10;
}
.box form .inputBox span{
    position: absolute;
    left: 0;
    padding: 20px 0px 10px;
    pointer-events: none;
    color: #ffc451 !important;
    font-size: 1em;
    letter-spacing: 0.05em;
    transition: 0.5s;
}
.box form .inputBox input:valid ~ span,
.box form .inputBox input:focus ~ span{
    color: #fff;
    font-size: 0.75em;
    transform: translateY(-34px);
}
.i-tag{
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background: #fff;
    border-radius: 4px;
    overflow: hidden;
    transition: 0.5s;
    pointer-events: none;
}
.box form .inputBox input:valid ~ .i-tag,
.box form .inputBox input:focus ~ .i-tag{
    height: 44px;
}

.box form input[type="submit"]{
    border: none;
    outline: none;
    padding: 9px 25px;
    background: #ffc451;
    color: black;
    cursor: pointer;
    font-size: 0.9em;
    border-radius: 4px;
    font-weight: 600;
    width: 100px;
    margin-top: 10px;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield !important;
}
#timer{
    font-size: 2em !important;
    color: white !important;
}